[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "dbupgrade"
version = "2.3.dev1"
description = "Database Migration Tool"
readme = "README.md"
authors = ["Sebastian Rittau <srittau@rittau.biz>"]
license = "MIT"
homepage = "https://github.com/srittau/dbupgrade"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Database",
    "Topic :: Software Development",
]
packages = [{ include = "dbupgrade" }]

[tool.poetry.scripts]
dbupgrade = 'dbupgrade.main:main'

[tool.poetry.dependencies]
python = "^3.7"
sqlalchemy = "^1.4"
sqlparse = ">=0.3.0"

[tool.poetry.dev-dependencies]
asserts = ">=0.8.1,<0.12"
black = "^22.6.0"
dectest = "^1.0.0"
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "0.961"
pytest = ">=6.2.5, <8"
pytest-mock = "^3.8.2"

[tool.pytest.ini_options]
python_files = ["test_*/*.py"]

[tool.black]
line-length = 79

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
combine_as_imports = true
line_length = 79
known_dbupgrade = "dbupgrade"
known_test = "test_dbupgrade"
sections = "FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER,DBUPGRADE,TEST"
