# Direct dependencies
asserts==0.9.1
black==19.3b0
dectest==1.1.1
flake8==3.7.8
mypy==0.740
SQLAlchemy==1.3.10
sqlparse==0.3.0
wheel==0.33.4

# Indirect dependencies
appdirs==1.4.3
attrs==19.1.0
Click==7.0
entrypoints==0.3
mccabe==0.6.1
mypy-extensions==0.4.1
pycodestyle==2.5.0
pyflakes==2.1.1
toml==0.10.0
typed-ast==1.4.0
